.movies {
  padding-top: 65px;
  width: 100%;
}

.movies-list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  gap: 5px 0;
  grid-template-rows: auto;
  min-height: 490px;
  padding: 0;
  justify-content: space-around;
}

@media screen and (max-width: 1269px) {
  .movies-list {
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 30px;
    justify-content: center;
  }
}

@media screen and (max-width: 1069px) {
  .movies-list {
    grid-template-columns: repeat(auto-fit, 345px);
    gap:0px 30px;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .movies {
    padding-top: 44px;
    min-height: 716px;
  }

  .movies-list {
    grid-template-columns: repeat(auto-fit, 338px);
    justify-content: center;
    margin-top: 21px;
  }

  .button-more {
    margin-bottom: 130px;
  }
}

@media screen and (max-width: 420px) {

  .movies-list {
    grid-template-columns: repeat(auto-fit, 292px);
    justify-content: center;
    margin-top: 14px;
  }
  .movies {
    padding-top: 0px;
  }
}
