.profile {
    max-width: 410px;
    width: 100%;
    padding: 50px 0;
    min-height: 453px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.profile__form {
    display: flex;
    flex-direction: column;

    width: 100%;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    margin: 128px 0 0;
}

.profile__error {
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.profile__title {
    margin-top: 27px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
}

.profile__container {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 0;
    width: 100%;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    margin: 108px 0 206px;
}

.profile__box {
    display: grid;
    grid-template-columns: 100px 1fr;
    border-bottom: 1px solid #424242;
    padding: 16px 0;
}

.profile__box:last-child {
    border-bottom: none;
}

.profile__label {
    font-weight: 500;
}

.profile__input {
    background-color: #202020;
    border: 0;
    text-align: right;
    font-weight: 400;
    outline: none;
    color: #fff;
}

.link_type_profile {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 16px;
    margin-top: 10px;
    background-color: #202020;
}

.link_type_logout {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #EE3465;
}

.profile__link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.profile__error {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #EE3465;
    margin-bottom: 10px;
}


@media screen and (max-width: 1023px) {
    .profile {
        padding-top: 212px;
    }

    .profile__container {
        margin-top: 80px;
        margin-bottom: 198px;
    }


    .profile__title {
        margin-top: 31px;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        padding: 50px 0 0;
        max-width: 260px;
    }

    .profile__container {
        margin-top: 67px;
        margin-bottom: 365px;
    }

    .link_type_profile {
        font-size: 12px;
        line-height: 15px;
    }

    .link_type_logout {
        font-size: 12px;
        line-height: 15px;
    }

    .profile__title {
        margin-top: 6px;
        margin-bottom: 0;
    }
}
