.button_type_more {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  max-width: 340px;
  width: 100%;
  min-height: 36px;
  align-self: center;
  background-color: #202020;
  border-radius: 6px;
  border: solid 1px #424242;
  color: #ffffff;
  margin: 50px 0 80px;
  justify-content: center;
  align-items: center;
}

.button_type_more:hover {
  box-shadow: 5px 5px 20px rgba(46, 46, 46, 0.308);
  transition: box-shadow 1s linear;
}

@media screen and (max-width: 767px) {
  .button_type_more {
    margin-bottom: 130px;
  }
}
