.navigation {
    display: flex;
    align-items: center;
}

.navigation__container {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
    justify-content: space-between;
}

.navigation__box {
    display: flex;
    align-items: center;
    padding-left: 0;
    min-width: 490px;
    padding-right: 50px;
}

.button {
    font-weight: 500;
    border: 0;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.button-burger {
    display: none;
}

.button-close-menu {
    display: none;
}

.hover-button:hover {
    opacity: 0.8;
    transition: ease;
}

.button_type_header {
    background: #3DDC84;
    padding: 9px 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.link {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

.link_type_main {
    padding-right: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.link_type_logged-in {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin-left: 15px;
}

.link_type_account {
    display: flex;
    align-items: center;
    margin-right: 3px;
    margin-left: 10px;
}

.link_active {
    font-weight: 500;
}

.link_type_logged-off {
    display: none;
}

.navigation__account {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0 5px 0 50px;
}

.navigation__account-icon {
    background-image: url(../../images/icon-account.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #313131;
    border-radius: 50%;
    height: 30px;
    width: 26px;
}

@media screen and (max-width: 1240px) {
    .navigation__container {
        padding-right: 45px;
    }
}

@media screen and (max-width: 1040px) {
    .link_active {
        border-bottom: 2px solid #fff;
        padding-bottom: 4px;
    }

    .navigation__container {
        padding-right: 35px;
    }

    .button-burger {
        display: flex;
        background-image: url(../../images/icon-menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #202020;
        background-size: 44px;
        height: 40px;
        width: 44px;
        padding: 0;
    }

    .button-close-menu {
        display: flex;
        background-image: url(../../images/icon-close-menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #202020;
        height: 30px;
        width: 30px;
        padding: 0;
        position: absolute;
        top: 22px;
        right: 22px;
        transition: transform 500ms ease 0s;
    }

    .button-close-menu:hover {
        transform: rotate(180deg);
    }

    .navigation {
        position: relative;
        z-index: 3;
    }

    .navigation__container-menu {
        background-color: rgb(0, 0, 0, 0.3);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        transition: visibility .5s linear, opacity .5s linear;
    }

    .navigation__container-menu_opened {
        visibility: visible;
        opacity: 1;
        transition: visibility .5s linear, opacity .5s linear;
    }

    .navigation__box {
        flex-direction: column;
        min-height: 122px;
        justify-content: space-between;
        padding-left: 0;
    }

    .link_type_logged-in {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-left: 0;
    }

    .navigation__container_type_logged-in {
        background: #202020;
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 159px 0 92px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navigation__account {
        font-weight: 500;
        font-size: 13px;
        line-height: 12px;
        margin-right: 8px;
        margin-left: 0;
    }
}


@media screen and (max-width: 900px) {
    .navigation__container {
        padding-right: 10px;
    }
}

@media screen and (max-width: 767px) {
    .button_type_header {
        padding: 6px 9px;
    }

    .navigation {
        font-size: 10px;
        line-height: 1.6;
    }

    .link_type_main {
        padding-right: 15px;
        font-size: 10px;
    }

    .navigation__box {
        min-height: 114px;
    }

    .navigation__container_type_logged-in {
        padding-top: 144px;
        padding-bottom: 48px;
    }

    .link_active {
        padding-bottom: 8px;
    }

    .button-close-menu {
        top: 14px;
        right: 14px;
    }

    .navigation__container {
        padding-right: 10px;
        padding-bottom: 7px;
    }

    .navigation__account {
        font-weight: 500;
        font-size: 13px;
        line-height: 12px;
        margin-right: 7px;
    }
}
