.button_place_card-delete {
    background-image: url(../../images/delete.svg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 29px;
    height: 29px;
    border-radius: 30px;
    border: none;
    background-position: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
}

.saved-movies {
    display: flex;
    flex-direction: column;
    width: calc(100% - 70px*2);
    margin: auto;
}

@media screen and (max-width: 1023px) {
    .saved-movies {
        width: calc(100% - 30px*2);
    }
}

@media screen and (max-width: 767px) {
    .saved-movies {
        width: calc(100% - 10px*2);
    }
}
