.footer {
    display: flex;
    flex-direction: column;
    width: calc(100% - 70px * 2);
    margin: auto;
}

.footer__title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #8B8B8B;
    border-bottom: 1px solid #424242;
    width: 100%;
    text-align: center;
    margin: 58px 0 0;
    padding-bottom: 20px;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 18px 0 20px;
}

.footer__copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
}

.social-networks__link_type_footer {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

@media screen and (max-width: 1023px) {
    .footer {
        width: calc(100% - 30px * 2);
    }
}

@media screen and (max-width: 767px) {
    .footer {
        width: calc(100% - 10px * 2);
    }

    .footer__title {
        font-size: 12px;
        line-height: 15px;
        margin-top: 30px;
    }

    .footer__container {
        flex-direction: column-reverse;
        margin: 0;
    }

    .social-networks_type_footer {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 9px;
        margin-top: 27px;
        margin-bottom: 30px;
    }

    .social-networks__link_type_footer {
        font-size: 12px;
        line-height: 15px;

    }

    .footer__copyright {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 15px;
    }
}
