@import url(./vendor/normalize.css);
@import url(./vendor/fonts/font.css);

#root {
    background-color: #202020;
    min-height: 100vh;
}

.page {
    max-width: 1280px;
    width: 100%;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    margin: auto;

}
